body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cor de fundo */
}

header {
    background-color: #f0f0f0; /* Cor do cabeçalho */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333; /* Cor do título */
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Elementos Gerais */

main {
    padding: 20px;
}

.plano {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease; /* Animação de hover */
}

.plano:hover {
    transform: scale(1.02); /* Efeito de zoom no hover */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
#btn-pagar:hover{
    background-color: blue;
    transform: scale(1.1);

}
#btn-pagar{
    background-color: rgb(0, 255, 255);
    text-decoration: none;
}